body {
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-family: 'PT Sans', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: white;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.container {
  width: 600px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  position: relative;
}

.logo {
  position:absolute;
  top: 0;
  left: 530px;
  z-index: 3;

  display: block;
}

.main-menu {
  margin: 0;

  font-weight: bold;
  line-height: 26px;
  color: #333333;
}

.main-menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.main-menu-items a {
  display:block;
  padding-top: 14px;
  padding-bottom:16px;

  color: #333333;
}

.main-menu-items li {
  width: 228px;
}

.main-menu-items li:first-child {
  margin-left: 72px;
}

.main-menu-items li:nth-child(-n+2) {
  padding-left:0;

  text-align: left;
}

.main-menu-items li:nth-child(2) {
  margin-right: 50px;
}

.main-menu-items li:nth-child(3) {
  margin-left: 50px;
}

.main-menu-items li:nth-last-child(-n+2) {
  text-align: right;
}

.main-menu-items li:last-child {
  margin-right: 72px;
}

.main-menu-items a:hover,
.main-menu-items a:focus {
  color: #81b3d2;

  outline: none;
}

.main-menu-items a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-menu-items a.active-page {
  color: #766357;
}

.welcome-wrapper {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: auto;
  height: 509px;
  margin: 0;
  padding: 0;

  background-image: url("../img/polygon.svg"), url("../img/welcome.png"), url("../img/background-photo.jpg");
  background-position: 0 452px, center 75px, 0 -80px;
  background-repeat: no-repeat;
  background-color: #81b3d2;;
}

.welcome-text {
  display: block;
  width: 100%;
  padding-top: 59px;
  padding-bottom: 52px;

  background-color: #ffffff;
}

.welcome h2 {
  margin-bottom: 26px;
  padding: 0 40px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.welcome p {
  display: block;

  line-height: 26px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin:0;
  padding: 0;

  list-style: none;
}

.advantages-item {
  width: 280px;
  padding: 25px 60px 38px ;

  list-style: none;
  background-color: #eeeeee;
}

.advantages-item p,
.advantages-item-special p {
  padding-bottom: 7px;
}

.advantages-item-special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex ;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  width: 100%;
  margin: 0;
  padding: 0;
}

.advantages-item-special .advantages-text {
  width:280px;
  padding: 25px 60px 38px;

  color: #ffffff;

  background-color: #81b3d2;
}

.advantages-item-special:first-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.advantages-item-special::after {
  content: "";

  display: block;
  width: 800px;
  min-height: 256px;

  background-color: #81b3d2;
  background-size: cover;
  background-position-y: center;
}

.city::after {
  background-image: url("../img/layer-10.jpg");
  background-repeat: no-repeat;
}

.bridge::after {
  background-image: url("../img/layer-5.jpg");
  background-repeat: no-repeat;
}

.advantages-title {
  padding-right: 65px;
  padding-bottom: 3px;
  padding-left: 65px;

  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.advantages-item .advantages-title {
  color: #000000;
}

.features-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex ;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1200px;
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: #ffffff;
}

.features-item {
  position: relative;

  width: 400px;
  padding: 50px;
  padding-top: 139px;
  padding-bottom: 69px;

  background-color: #ffffff;
}

.features-title:before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;

  width: 76px;
  height: 75px;

  background-repeat: no-repeat;
}

.features-housing:before {
  background-image: url("../img/icon-1.svg");
}

.features-food:before {
  background-image: url("../img/icon-3.svg");
}

.features-souvenirs::before {
  top: 57px;
  left: 168px;

  background-image: url("../img/icon-2.svg");
}

.features-title {
  padding-bottom: 4px;

  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.order {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.order-info b {
  display: block;
  margin-top: 50px;
  margin-bottom: 24px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.order-info p {
  margin-bottom: 48px;

  line-height: 24px;
}

.btn-order {
  display: block;
  width: 568px;
  padding: 29px 0;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #766357;
  border-style: none;
}

.btn-order:hover,
.btn-order:focus {
  background-color: #604e43;
  outline: none;
}

.btn-order:active {
  background-color: #503e33;
  outline: none;
}

@-webkit-keyframes open {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: 100%;
    opacity: 1;
  }
}

@keyframes open {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: 100%;
    opacity: 1;
  }
}

.search {
  position: absolute;
  top: 100%;
  left: calc(50% - 285px);
  z-index:2;

  display: block;
  width: 458px;
  margin: 0;
  padding: 55px;
  padding-top: 40px;
  padding-bottom: 65px;

  text-align: left;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-none {
  display:none;
}

.search-show {
  display: block;

  animation: open 1s ease-in 0s 1 forwards;
  -webkit-animation: open 1s ease-in 0s 1 forwards;
}

.number-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.date-select,
.number-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.select-area {
  position: relative;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  background-color: #f2f2f2;
  border-style: none;
}

.select-area.adults {
  margin-left: 17px;
}

.search label {
  margin: 0;
  padding: 0;
  padding-right: 24px;

  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.date-select input,
.number-select input {
  padding: 10px 0;

  font-weight: bold;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.date-select input {
  width: 95%;
  padding-left: 15px;
}

.number-select input {
  width: 22px;
  padding-left: 15px;

  text-align:left;
}

.search  input::-webkit-input-placeholder {
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.search input:-ms-input-placeholder {
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.search input::placeholder {
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.number-select input:hover,
.date-select input:hover,
button[name="calendar"]:hover + input {
  font-weight: bold;
  color: #000000;

  background-color: #ebebeb;
  border: 2px solid #ebebeb;
  outline: none;
}

.number-select input:focus,
.date-select input:focus,
button[name="calendar"]:focus + input {
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.search button[name="calendar"] {
  position: absolute;
  top: 10px;
  right: 8px;

  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
}

.search button[name="calendar"]:hover,
.search button[name="calendar"]:focus,
.search button[name="calendar"]:active {
  outline: none;
}

button[name="calendar"]:hover path,
button[name="calendar"]:focus path {
  fill: #000000;
}

button[name="calendar"]:active path {
  fill: #81b3d2;
}

.search button[name="search"] {
  width: 458px;
  min-height: 58px;
  margin-top: 39px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
  border-style: none;
}

.search button[name="search"]:focus,
.search button[name="search"]:hover {
  background-color: #669ec0;
}

.search button[name="search"]:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.number-select button {
  width: 34px;
  height: 28px;
  margin: 0;
  padding: 0;

  font-size: 0;

  border: none;
}

button[name="number-plus"],
button[name="number-mynus"] {
  border: none;
  outline:none;
  background-color: #f2f2f2;
}

button[name="number-mynus"]::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 14px;

  width: 10px;
  height: 3px;

  background-color:  #cacaca;
}

button[name="number-plus"]::before,
button[name="number-plus"]::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 89px;

  width: 10px;
  height: 2px;

  background-color:  #cacaca;
}

button[name="number-plus"]::before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

button[name="number-plus"]:hover::before,
button[name="number-plus"]:hover::after,
button[name="number-plus"]:focus::before,
button[name="number-plus"]:focus::after,
button[name="number-mynus"]:hover::before,
button[name="number-mynus"]:focus::before {
  background-color: #000000;
}

button[name="number-plus"]:active::before,
button[name="number-plus"]:active::after,
button[name="number-mynus"]:active::before {
  background-color: #81b3d2;
}

.page-footer {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.map {
  width: 1200px;
  height: 595px;
}

.page-footer iframe {
  position: absolute;
  bottom: 0;
  left:0;
  z-index: 1;

  width: 1200px;
  height: 595px;
}

.map-img {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.main-footer {
  position: absolute;
  bottom: 0;
  z-index: 2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  background-color: #ffffff;
  opacity:0.9;
}

.inner .main-footer {
  position: relative;
}

.page-footer img {
  position: relative;
  z-index: 1;
}

.footer {
  width: 419px;
  padding: 0;

  background-color: #ffffff;
}

.footer-left {
  padding-right:62px;
}

.footer-left a {
  display: block;
  padding-top:45px;
  padding-right: 13px;
  padding-bottom: 50px;

  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
  color: #000000;
}

.footer-center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 154px;
  margin: 0;
  padding-top: 36px;
}

.footer-center li {
  width: 46px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-btn {
  content:"";

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-tw {
  background-image: url("../img/twitter.svg");
}

.social-btn-fb {
  background-image: url("../img/fb-icon.svg");
}

.social-btn-ytb {
  background-image: url("../img/youtube.svg");
}

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 200px;
  padding-top:33px;
  padding-right: 101px;
  padding-bottom: 36px;
}

.footer-right span {
  display:block;

  line-height: 26px;
}

.web {
  display: block;
  width: 115px;
  height: 41px;
}

 .web:hover path,
 .web:focus path {
  fill: #81b3d2;
}

.web:active path {
  fill: #bdbbbc;
}

/* Разметка страницы каталога */
.inner main {
  text-align: left;
}

.wrapper-inner {
  width: auto;
  min-height: 200px;

  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-color: #81b3d2;
  background-size: cover;
  background-position-y: center;
}

.form-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 27px 72px 10px 72px;

  color: #ffffff;
}

.filter-list {
  width: 255px;
  margin: 0;
  padding: 0;
}

.filters fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filters legend {
  display: block;
  margin-top:10px;

  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.filters li {
  list-style: none;
}

.filter-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 400px;

  color: #ffffff;
}

.filter-option {
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
}

.label-checkbox {
  position: relative;

  padding-left: 40px;

  cursor: pointer;
}

.label-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.label-checkbox input[type="checkbox"]:focus + .checkbox-indicator,
.label-checkbox input[type="checkbox"]:hover + .checkbox-indicator {
  background-image: url("../img/checkbox-off.svg");
}

.label-checkbox input[type="checkbox"]:checked + .checkbox-indicator{
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
}

.label-checkbox input[type="checkbox"]:disabled + .checkbox-indicator{
  width: 27px;

  background-image: url("../img/checkbox-off-3.svg");
}

.label-checkbox input[type="checkbox"]:disabled:checked + .checkbox-indicator{
  width: 27px;

  background-image: url("../img/checkbox-on-2.svg");
}

.filter-range {
  width: 318px;

  text-transform: uppercase;
  color: #ffffff;
}

.filter-range-title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 33px;
  margin-bottom: 19px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  line-height: 21px;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 62px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding-top: 7px;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-right:97px;
  padding: 6px 33px 6px 35px ;

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active {
  color: #000000;

  background: #ffffff;
}

.sorting {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;

  color: #000000;
}

.sorting b {
  display: block;
  padding: 29px 48px 30px 71px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sorting-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  font-size: 12px;
  line-height: 18px;
}

.sorting-column p {
  margin-right: 28px;
}

.sorting-column ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
}

.sorting-column li {
  padding-right: 22px;

  list-style: none;
}

.sorting-link {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
  -webkit-text-decoration-color: #81b3d2;
  text-decoration-color: #81b3d2;
}

.sorting-link:hover,
.sorting-link:focus {
  color: #81b3d2
}

.sorting-link:active {
  color: #000000;
  text-decoration: none;
}

.sorting-link.current {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-column.arrows {
  position: absolute;
  top: 35px;
  right: 74px;
}

.arrow:hover path,
.arrow:focus path {
  fill: #000000;
}

.arrow:active path {
  fill: #81b3d2;
}

.sorting-column a {
  display: block;
  padding-left: 12px;
}

.sorting-link path {
  fill: #cacaca;
}

.sorting-link:hover path,
.sorting-link:focus path {
  fill: #231F20;
}

.sorting-link:active path {
  fill: #81b3d2;
}

.current path {
  fill:#81b3d2;
}

.items-list ul {
  margin: 0;
  padding: 0;
}

.items-list li.item {
  list-style: none;
  border-top: 1px solid #f2f2f2;
}

.items-list li.item:last-child {
  border-bottom: 1px solid #f2f2f2;
}

.item {
  position:relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.item-img {
  width: 135px;
  height: 90px;
  padding: 30px;
  padding-left: 72px;
}

.info-block {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.info {
  width: 300px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.item-row {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-top: 8px;
  padding-bottom: 13px;
}

.item-row p {
  display: block;
  min-width: 110px;
  margin: 0;
  margin-right: 6px;

  text-align: left;
}

.item-tipe {
  width: 110px;
}

.item .item-name {
  margin-top: 20px;
  padding-bottom: 0;

  color: #000000;
  line-height: 26px;
  font-size: 21px;
}

.item .item-name:focus,
.item .item-name:hover {
  color: #81b3d2;
}

.item .item-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.item .btn {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.item .btn-more,
.item .btn-book {
  display: inline-block;
  vertical-align: middle;
  min-width: 110px;
  margin-right: 5px;
  padding: 4px 17px;

  font-weight: bold;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.item .btn-more {
  width: 110px;
  padding: 4px 0;
}

.item .btn-book {
  background-color: #766357;
}

.item .btn-more:focus,
.item .btn-more:hover {
  background-color: #669ec0;
}

.item .btn-more:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.item .btn-book:focus,
.item .btn-book:hover {
  background-color: #604e43;
}

.item .btn-book:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.rating {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 120px;
  padding-top: 29px;
  padding-right: 74px;
}

.item-stars {
  display:block;
  width: 90px;
  height: 17px;
  margin-bottom: 35px;

  background-image: url("../img/invalid-name.svg");
  background-repeat: repeat-x;
}

.item-stars.four-stars {
  width: 72px;
}

.item-stars.three-stars {
  width: 54px;
}

.item-stars.two-stars {
  width: 36px;
}

.item-rating {
  padding: 3px 11px 3px 16px;

  color:#666666;

  background-color: #f2f2f2;
  border: none;
}
