body{
  margin: 0 40px;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
}

a{
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
   box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.header-top{
  background-color: white;
  position: relative;
}

.logo{
  display: block;
  position:absolute;
  top: 0;
  left: 530px;
  z-index: 3;
}

.main-menu{
  line-height: 26px;
  font-weight: bold;
  color: #333333;
  background-color: white;
  min-width: 56px;
}

.main-menu-items{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 15px 72px;
  list-style: none;

}

.main-menu-items li:nth-child(2){
  margin-right: 250px;
}
.main-menu-items li:last-child{
 margin-left: 25px;
}
.main-menu-items a{
  color: #333333;

}

.main-menu-items a:hover,
.main-menu-items a:focus
{
  color: #81b3d2;
  outline: none;
}

.main-menu-items a.active-page{
  color: #766357;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: auto;
  height: 723px;
  background-image: url("../img/polygon.svg"), url("../img/welcome.png"), url("../img/background-photo.jpg");
  background-position: 0 448px, center 75px, 0 -80px;
  background-repeat: no-repeat;

}
.welcome-text{
 display: block;
 position: absolute;
 top: 505px;
  background-color: #ffffff;
  padding-top: 45px;
  padding-bottom: 36px;

}
.welcome h2{
  padding: 0 375px;
  margin-bottom: 26px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.welcome p{
  line-height: 26px;
  display: block;
}
.advantages-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:0;
  padding: 0;
  list-style: none;
}

.advantages-list p{
  padding-bottom: 10px;

}
.advantages-item{
  list-style: none;
  background-color: #eeeeee;
  width: 400px;
  padding-bottom: 35px;

}

.advantages-text{
  padding-top: 25px;
  padding-left: 60px;
  padding-right: 60px;
}

.advantages-item-special .advantages-text{
  color: #ffffff;
  background-color: #81b3d2;
}
.advantages-item-special {
  width: 1200px;
  display: flex ;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin:0;
  padding: 0;
}
.advantages-item-special:first-child{
  flex-direction: row;
}
.advantages-title{
  padding-left: 65px;
  padding-right: 65px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
.advantages-item .advantages-title{
  color: #000000;
}

.features-item-list{
  list-style: none;
  background-color: #ffffff;
  display: flex ;
  justify-content: space-between;
  width:1200px;
  padding: 0;
  margin:0;

}
.features-item{
  position: relative;
  width: 400px;
  background-color: #ffffff;
 padding: 50px;
 padding-top: 150px;


}
.features-title:before{
  content: "";
  width: 76px;
  height: 75px;
  position: absolute;
  left: 162px;
  top: 60px;

}

.features-housing:before{
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
}

.features-food:before{
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
}

.features-souvenirs::before{
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
}
.features-title{
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.order-info{
  padding: 55px 380px;
}
.order-info b{
  display:block;
  margin-top: -5px;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.order-info p{
  line-height: 24px;

}
.order{

}
.btn-order{
  margin-top: -22px;
  width: 568px;
  height: 86px;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #766357;
  border-style: none;
  position: relative;
}

.btn-order:hover,
.btn-order:focus{
  background-color: #604e43;
  outline: none;
}

.btn-order:active{
  background-color: #503e33;
  outline: none;
}


.search{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 458px;
  height: 285px;
  padding: 55px;
  background-color: #ffffff;
  margin: 0;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  position: absolute;
  left: 390px;
  z-index:2;
 text-align: left;
}

.date-select,
.number-select{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


  .search label{
  color: #000000;
  font-weight: bold;
  line-height: 26px;
  padding-right: 20px;
}

.date-select input,
.number-select input{
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-style: none;
  padding:0;
  height: 38px;

}

.number-select input{
  width: 38px;
  text-align:center;
}
.number-select button{
  width: 38px;
  height: 38px;
  margin:0;
  padding: 0;
}
input::placeholder{
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.date-select input:hover{
  color: #000000;
  font-weight: bold;
  background-color: #ebebeb;
  outline: none;
}

.date-select input:focus{
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}
.select-area{
width: auto;
  background-color: #f2f2f2;
  border-style: none;

}
.search button[name="search"]{
  width: 458px;
  height: 58px;
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: #81b3d2;
  border-style: none;
}

.search button[name="search"]:focus,
.search button[name="search"]:hover{
  background-color: #669ec0;
}

.search button[name="search"]:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

button[name="button-number"]{
  color: #cacaca;
  font-size: 11px;
  border: none;
  background-color: #f2f2f2;
}
.main-footer .container{
  display: flex;
  justify-content: space-between;

}
.footer{
  width: 400px;
  margin: 0;
 padding: 0;
}

.footer-left a{
  display: block;
  padding-top:50px;
  padding-bottom: 50px;
  color: #000000;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}

.footer-center ul{
  display: flex;
  width:154px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 ;
  padding-top: 36px;
}

.footer-center li{
  list-style: none;
  width: 46px;
  padding:0;
  margin:0;
}
.social-btn{
  content:"";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-btn-tw{
  background-image: url(../img/t.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social-btn-fb{
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social-btn-ytb{
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social-btn:hover,
.social-btn:focus
{background-color: #669ec0;}


.social-btn:active{
  background-color: #5496bd;
  opacity: 0.3;
}

.footer-right{
display: flex;
justify-content: space-between;
  max-width: 200px;
  padding-top:50px;
  padding-bottom: 36px;
  padding-right: 101px;
}

.footer-right a{
  display: block;

  color: #000000;
  width: 115px;
  height: 41px;
}


  /* Разметка страницы каталога */
  .inner main{
    text-align: left;}

  .wrapper-inner{
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position: 0 -270px;
    width: auto;
    min-height: 200px;

  }
  .form-filters {
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
  }

  .filter-list{
    width: 200px;
    padding:0;
    margin:0;
  }
    .filters fieldset{
      border: none;
    }

    .filters legend{
      font-size: 16px;
      font-weight: bold;
    }

    .filters li{
      list-style: none;
    }
    .filter-range {
  width: 330px;
  margin: auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
    .sorting b{
       display: block;
       width:120px;
       font-size: 21px;
       line-height: 26px;
       color: #000000;
       font-weight: bold;
     }

     .sorting .container {
   display: flex;
   justify-content: space-between;
   font-size: 10.5px;
   line-height: 17.5px;
   color: #000000;
 }
 .sorting ul{
    width:300px;
    display: flex;
    justify-content: space-between;
  }
    .sorting li{
      list-style: none;
    }

/* стрелки пока не делаю, потому что они картинки */

    .items-list ul{
      padding: 0;
      margin: 0;
    }
    .items-list li {
      list-style: none;
      border-top: 1px solid #f2f2f2;
      padding:10px;
    }
    .items-list li:last-child{
      border-bottom: 1px solid #f2f2f2;
    }
    .item{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

    }

    .item .item-name{
      color: #000000;
      line-height: 26px;
      font-size: 21px;
    }

    .item .item-name:focus,
    .item .item-name:hover{
      color: #81b3d2;
    }

    .item .item-name:active{
      color: rgba(0, 0, 0, 0.3);
    }

    .item .btn-more,
    .item .btn-book{
      color: #ffffff;
      font-weight: bold;
      background-color: #81b3d2;
    }

    .item .btn-book{
      background-color: #766357;
    }

    .item .btn-more:focus,
    .item .btn-more:hover{
      background-color: #669ec0;
    }

    .item .btn-more:active{
      color: rgba(255, 255, 255, 0.3);
      background-color: #5496bd;
    }

    .item .btn-book:focus,
    .item .btn-book:hover{
      background-color: #604e43;
    }

    .item .btn-book:active{
      color: rgba(255, 255, 255, 0.3);
      background-color: #503e33;
    }

    .item-rating{
      color:#666666;
      background-color: #f2f2f2;
      border-color:none;
      width: 100px;
    }
